# Node modules
/node_modules

# Build artifacts
/dist
/build
/coverage

# Environment variables
.env
.env.*.local

# Logs
*.log
logs/

# IDE and OS specific files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Other temporary files
*.tsbuildinfo
*.bak
*.swp
